@tailwind base;
@tailwind components;
@tailwind utilities;

.picture {
  background-image: url('./Images/240_F_423044511_bCUtUzoO2LUAsOJrZzCtkaX7w3FS7SOZ.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
}
.nft-font {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}
/* Header.css */
.glass-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*background: rgba(255, 255, 255, 0.1); */
  background-color: black;
  /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Glass effect */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Optional border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
}
/*.btn {
  background: rgba(255, 255, 255, 0.2);
}*/
.btn {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.dropdown {
  background-color: rgb(48, 48, 48);
}
.icon {
  transition: transform 0.3s ease;
}

.icon-rotated {
  transform: rotate(90deg); /* Adjust angle as needed */
}

.dropdown-li:hover {
  background: rgba(255, 255, 255, 0.1);
}

.ul {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.ful {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.menu {
  right: -100%;

  transition: right 0.3s ease-in-out;
  overflow: hidden;
}

.open {
  right: 0;
}

/*border: 2px solid rgba(255, 255, 255, 0.2);*/
.color-div {
  background: rgba(255, 255, 255, 0.1);
}
.form {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.Artify-div {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.btn:focus {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.glass-header h1 {
  color: white; /* Text color */
  margin: 0;
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes slideInOut {
  0% {
    transform: translateX(50%);
  }
  10% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.paragraph-container {
  overflow: hidden;
  width: 100%; /* Adjust width to fit your container */
  position: relative;
  box-sizing: border-box;
  white-space: nowrap;
}
.sliding-paragraph-wrapper {
  display: flex;
  width: 100%;
}

.sliding-paragraph {
  display: inline-block;

  white-space: nowrap;
  /* overflow: hidden;*/
  animation: slideInOut 60s linear infinite;
}

/* Style for the scrollbar track */
/* Hide the scrollbar track */
.scroll-container::-webkit-scrollbar {
  width: 12px;
  opacity: 0;
  transition: opacity 0.3s ease; /* Smooth transition */
}

/* Customize the scrollbar thumb */
.scroll-container::-webkit-scrollbar-thumb {
  background-color: #555; /* Dark ash scrollbar thumb */
  border-radius: 10px;
  transition: opacity 0.3s ease; /* Smooth transition for thumb */
}

/* When scrolling, show the scrollbar thumb */
.scroll-active::-webkit-scrollbar {
  opacity: 1; /* Show scrollbar */
}

/* Fade out when not scrolling */
.scroll-active::-webkit-scrollbar-thumb {
  opacity: 1;
}
.scroll-active {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent; /* Transparent background, dark ash thumb */
  transition: scrollbar-color 0.3s ease;
}

.scroll-container::-webkit-scrollbar-thumb {
  opacity: 0; /* Hide scrollbar thumb by default */
}

/* For Firefox */
.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent; /* Transparent background, dark ash thumb */
  transition: scrollbar-color 0.3s ease;
}

.scroll-active2 {
  scrollbar-color: #555 transparent;
}
.scroll-container2::-webkit-scrollbar {
  width: 12px;
  opacity: 0;
  transition: opacity 0.3s ease; /* Smooth transition */
}

/* Customize the scrollbar thumb */
.scroll-container2::-webkit-scrollbar-thumb {
  background-color: #555; /* Dark ash scrollbar thumb */
  border-radius: 10px;
  transition: opacity 0.3s ease; /* Smooth transition for thumb */
}

/* When scrolling, show the scrollbar thumb */
.scroll-active2::-webkit-scrollbar {
  opacity: 1; /* Show scrollbar */
}

/* Fade out when not scrolling */
.scroll-active2::-webkit-scrollbar-thumb {
  opacity: 1;
}
.scroll-active2 {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent; /* Transparent background, dark ash thumb */
  transition: scrollbar-color 0.3s ease;
}

.scroll-container2::-webkit-scrollbar-thumb {
  opacity: 0; /* Hide scrollbar thumb by default */
}

/* For Firefox */
.scroll-container2 {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent; /* Transparent background, dark ash thumb */
  transition: scrollbar-color 0.3s ease;
}

.scroll-active2 {
  scrollbar-color: #555 transparent;
}
