@tailwind base;
@tailwind components;
@tailwind utilities;

.picture {
  background-image: url('./Images/240_F_423044511_bCUtUzoO2LUAsOJrZzCtkaX7w3FS7SOZ.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
}
.nft-font {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}
/* Header.css */
.glass-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*background: rgba(255, 255, 255, 0.1); */
  background-color: black;
  /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Glass effect */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Optional border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
}
/*.btn {
  background: rgba(255, 255, 255, 0.2);
}*/
.btn {
  background: rgba(255, 255, 255, 0.1);
}

.ul {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.menu {
  right: -100%;

  transition: right 0.3s ease-in-out;
  overflow: hidden;
}

.open {
  right: 0;
}

/*border: 2px solid rgba(255, 255, 255, 0.2);*/
.btn:hover {
  background: rgba(255, 255, 255, 0.2);
}
.Artify-div {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.btn:focus {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.glass-header h1 {
  color: white; /* Text color */
  margin: 0;
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes slideInOut {
  0% {
    transform: translateX(50%);
  }
  10% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.paragraph-container {
  overflow: hidden;
  width: 100%; /* Adjust width to fit your container */
  position: relative;
  box-sizing: border-box;
  white-space: nowrap;
}
.sliding-paragraph-wrapper {
  display: flex;
  width: 100%;
}

.sliding-paragraph {
  display: inline-block;

  white-space: nowrap;
  /* overflow: hidden;*/
  animation: slideInOut 60s linear infinite;
}
